
#menu{
    height: 45px;
    width: 100%;
    position: -webkit-sticky; 
    position: sticky; z-index: 1;
    top: 0px;
    
}

ul{
    float: right;    
    background-color: #498282;
    width: 100%;
    height: 100%; 
}
ul>li:first-child{
     
    float: left;
    color: white;
    
}

#menu a{
    font-family: Georgia, serif;
    top: 0px;
    color : white; 
}

.dropdown-item{
    color: black!important;
}





